$pink: #ffd2c9;
$blue: #202d5a;
$black: black;

body {
	background-color: hsl(28,68%,96%);
}
.bg-light {
	background-color: $pink !important;
}

#header-logo {
	color: $blue;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 800;
	font-size: 1.5rem;
	margin-top: 5px;
}

#navbarText {
	color: $blue;
	font-family: "Cabin", sans-serif;
	font-weight: 800;
	font-size: 1.2rem;
}

#info-container {
	position: fixed;
	top: 10;
	bottom: 0;
	left: 0;
	right: 0;
	box-sizing: content-box;
	width: 100%;
	height: 90%;
}

#chat-container {
	position: fixed;
	top: 10;
	bottom: 0;
	left: 30;
	right: 0;
	box-sizing: content-box;
	width: 100%;
	height: 90%;
}

#message-wrapper {
	overflow-y: auto;
	position: relative;
	height: 83%;
	margin-top: 0px;
	padding-left: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	overflow-wrap: break-word;
}

#input-wrapper {
	position: fixed;
	margin: 15px;
	bottom: 0;
	height: 40px;
	width: 65%;
}

.btn-outline-secondary {
	color: $blue;
	background-color: $pink;
	border-color: $pink;
}

.btn-outline-secondary:hover {
	color: $pink;
	background-color: $blue;
	border-color: $blue;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

.message-bubble-right {
	margin-left: 70%;
	margin-bottom: 13px;
	float: right;
	width: fit-content;
	font-family: "Roboto Slab", serif;
	border-radius: 4px;
	background-color: #cce4fd;
}

.message-bubble-left {
	margin-right: 70%;
	margin-bottom: 13px;
	float: left;
	width: fit-content;
	font-family: "Roboto Slab", serif;
	border-radius: 4px;
	background-color: #d8d9dd;
}

.msg-text {
	padding: 10px;
}

.msg-username {
	float: left;
	font-weight: 600;
	font-size: 15px;
}

.msg-time {
	float: right;
	padding-left: 15px;
	padding-top: 5px;
	font-weight: 500;
	font-size: 10px;
}

.msg-value {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 0;
}

#current-channel-banner {
	background-color: $blue;
	color: $pink;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
}

#channel-banner {
	background-color: $blue;
	color: $pink;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
}

.btn-secondary {
	margin-top: 20px;
	margin-bottom: -10px;
    color: $pink;
	background-color:$blue;
	border-radius: 0px;
	font-size: 14px;
	border-radius: 5px;
}

.btn-secondary:hover {
	color: $blue;
	background-color: $pink;
	border-color: $pink;
}

.new-user-text {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	text-align: center;
	padding-left: 30%;
	padding-right: 30%;
}